* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #c3c3c3;
}

body{
	font-family: "Helvetica", "sans-serif";
	font-size: 25px;
}

.produto{
	color: white;
}

.produto-item{
	width: 33.33%;
	height: 150px;
	display: block;
	border-radius: 10px; 
	box-shadow: 4px 4px 10px black;

}

.produto-item-2{
	background-color: #7474ff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	padding: 10px;
}

